:host {
  display: block;
    width: 400px;
    margin: 10px;
    border: 1px black solid;
    padding: 10px;
    text-align: center;

    }

:host.nocontent {
  background-color: chartreuse;}
  :host.winger {
    background-color: red;}

    :host.striker {
      background-color: sandybrown;}
      :host.playmaker {
        background-color: blue;}
        :host.manager {
          background-color: yellow;}
